@import 'root';

.AppDrawer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--default-color, $default-color);
  color: var(--default-color-overlay, $default-color-overlay);
  width: var(--app-drawer-width, $app-drawer-width);
  flex: 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.1s ease-in-out;

  &.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1200;
    border-right: 1px solid var(--overlay-5, $overlay-5); // TODO: change to box shadow
  }

  &.hidden {
    transition: 0.1s ease-in-out;
    width: 0;
  }

  &.icons {
    transition: 0.1s ease-in-out;
    width: 3rem;
  }

  &.dark {
    background-color: var(--default-color-overlay, $default-color-overlay);
    color: var(--default-color, $default-color);
  }

  &.primary {
    background-color: var(--primary-color, $primary-color);
    color: var(--primary-color-overlay, $primary-color-overlay);
  }

  &.secondary {
    background-color: var(--secondary-color, $secondary-color);
    color: var(--secondary-color-overlay, $secondary-color-overlay);
  }

  &.success {
    background-color: var(--success-color, $success-color);
    color: var(--success-color-overlay, $success-color-overlay);
  }

  &.warning {
    background-color: var(--warning-color, $warning-color);
    color: var(--warning-color-overlay, $warning-color-overlay);
  }

  &.danger {
    background-color: var(--danger-color, $danger-color);
    color: var(--danger-color-overlay, $danger-color-overlay);
  }
}

.HamburgerButtonContainer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: var(--app-drawer-width, $app-drawer-width);
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  padding-right: var(--padding-sm, $padding-sm);
  transition: 0.1s ease-in-out;

  &.icons,
  &.hidden {
    transition: 0.1s ease-in-out;
    justify-content: center;
    width: 3rem;
  }

  .HamburgerButton {
    background: transparent;
    border-radius: var(--border-radius, $border-radius);
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;

    &:hover {
      background: var(--overlay-10, $overlay-10);
    }
  }
}
