name: Create and Publish NPM Package
on:
  push:
    branches:
      - main
    tags:
      - v*
jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          always-auth: true
          node-version: '16.x'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@Warrior-Labs'
      - run: yarn install
      - run: yarn build
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc
      - run: yarn publish
        env:
          NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}